<div class="user-post" data-class="{{class}}" data-upload-date="{{uploadDate}}" data-term="{{term}}" data-professor="{{professor}}" data-post-number="{{postNum}}">
	<div class="post-contents">
		<h3 class="post-title"><a href="posts/{{postNum}}">{{title}}</a></h3>
		{{#if showbody}}
		<div class = "postBody">
			<h5 class = "postClass">Class: {{class}}</h5>
			<h5 class = "postProfessor">Professor: {{professor}}</h5>
			<h5 class = "postUploadDate">Upload date: {{uploadDate}}</h5>
			<p class = "postBodyContents">{{body}}</p>
		</div>
		{{/if}}
	</div>
</div>