<div class = "userPost" data-class = "{{class}}" data-upload-date = "{{uploadDate}}" data-professor = "{{professor}}" data-post-number = "{{postNum}}">
	<div class = "postContents">
		<h3 class = "postTitle"><a href = "posts/{{postNum}}">{{title}}</a></h3>
		<div class = "postInfo">
			<h5 class = "postClass">Class: {{class}}</h5>
			<h5 class = "postProfessor">Professor: {{professor}}</h5>
			<h5 class = "postUploadDate">Upload date: {{uploadDate}}</h5>
		</div>
		{{#if showbody}}
		<div class = "postBody">
			<p class = "postBodyContents">{{postBody}}</p>
		</div>
		{{/if}}
	</div>
</div>