<div class = "userPost" data-class = "{{class}}" data-upload-date = "{{uploadDate}}" data-professor = "{{professor}}">
	<div class = "postContents">
		<h3 class = "postTitle">{{title}}</h3>
		<div class = "postBody">
			<h5 class = "postClass">Class: {{class}}</h5>
			<h5 class = "postProfessor">Professor: {{professor}}</h5>
			<h5 class = "postUploadDate">Upload date: {{uploadDate}}</h5>
			<p class = "postBodyContents">{{postBody}}</p>
		</div>
	</div>
</div>